html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

// body {
  // display: flex;
  // flex-direction: column;
//   @extend %ubuntu-light;
//   color: #fff;
//   font-size: 17px;
//   line-height: 21px;
//   overflow-x: hidden;
//   overflow-y: scroll;
//   position: relative;
// }

.main {
  flex: 1 0 auto;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

