.svg-arrow-down-dims {
    width: 16px;
    height: 24px;
}

.svg-arrow-right-dims {
    width: 25px;
    height: 16px;
}

.svg-arrow-slider-left-dims {
    width: 30px;
    height: 30px;
}

.svg-arrow-slider-right-dims {
    width: 30px;
    height: 30px;
}

.svg-button-submit-dims {
    width: 70px;
    height: 70px;
}

.svg-footer-logo-dims {
    width: 171px;
    height: 47px;
}

.svg-icon-facebook-dims {
    width: 24px;
    height: 24px;
    fill: black;
}

.svg-icon-instagram-dims {
    width: 24px;
    height: 24px;
}

.svg-icon-twitter-dims {
    width: 24px;
    height: 24px;
}

.svg-icon-zoom-dims {
    width: 20px;
    height: 20px;
}

.svg-logo-dims {
    width: 86px;
    height: 23px;
}

